*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    box-shadow: 1px 1px 15px rgb(135, 135, 135);
    background: #F9A620;
    color: white;
}
header h3{
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
}

.container{
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    background: #A8D5E2;
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
}
.container select{
    display: none;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #4472CA;
    color: white;
}
.container button{
    padding: 10px 20px;
    color: white;
    background-color: #BD4F6C;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

#modal-container{
    position: absolute;
    z-index: 100;
    width: 300px;
    height: 170px;
    background: #A8D5E2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 20px;
    border-radius: 20px;
}

#output1{
    color: white;
    font-size: 22px;
}
#output1 span{
    color: white;
}
#output2{
    color: white;
    font-size: 22px;
    margin-top: 5px;
}
.reloadBtn{
    padding: 10px 20px;
    color: white;
    background-color: #BD4F6C;
    border-radius: 5px;
    position: relative;
    left: 35px;
    top: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}
#round-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 20px;
    background: #A8D5E2;
    right: 0px;
    width: 250px;
    color: white;
    border-bottom-left-radius: 20px;
}

#output-container-win{
    text-align: center;
    padding: 20px 40px;
    background: green;
    color: white ;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 5px;
}
#output-container-loss{
    text-align: center;
    padding: 20px 40px;
    background: red;
    color: white;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 5px;
}
#output-container-draw{
    text-align: center;
    padding: 20px 40px;
    background: orange;
    color: white;
    width: fit-content;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 5px;
}