*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    border-bottom: 1px solid black;
}
header h3{
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
}

.container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background: rgb(181, 178, 178);
    width: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container select{
    display: none;
    padding: 5px 10px;
}
.container button{
    padding: 5px 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
}

#modal-container{
    position: absolute;
    z-index: 100;
    width: 300px;
    height: 100px;
    background: rgb(196, 189, 189);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    padding: 20px;
    border-radius: 20px;
}

#output1{
    color: red;
}
#output2{
    color: red;
    margin-top: 5px;
}
.reloadBtn{
    padding: 5px 10px;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    position: relative;
    left: 100px;
    top: 10px;
}
#round-container{
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 20px;
    background: grey;
    right: 0px;
    width: 250px;
}